body
{
    margin: 0;
    padding: 0;
    font-family: robotoRegular;
    position: relative;
}

body::after {
  /*background: url("../img/bg.jpg")no-repeat center center fixed;*/
  background-color: #e9e9e9e6;
  content: "";
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    
    
}

a {cursor: pointer;}
a:hover {text-decoration: underline;}

.timeline_container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

/* SO: Fonts */

@font-face {
    font-family: robotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoItalic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(../fonts/Roboto-Light.ttf);
}

/* EO: Fonts */

/* SO: Header */

.logo_img {
    width: 27%;
}

.navbar.timeline_nav {
    padding: 0 5rem;
    margin-bottom: 15px;
    
}


.search_input.form-control,
.search_input.form-control:focus{
    border-radius: 20px;
    border: 1px solid #bcbcbc;
    background: transparent;
    font-size: 12px;
    color: #fff;
    box-shadow: none;
    width: 300px;
}

.search_btn {
    background: transparent;
    color: #bcbcbc;
    font-size: 13px;
    padding: 0;
    position: relative;
    right: 35px;
}

/* EO: Header */

/* SO: the left panel styling */

.left_panel {
    background: url("../img/aside.jpg")no-repeat center center fixed;
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    min-height: 550px;
    box-shadow: 10px 15px 30px 0px #7d7d7d;
    padding-top: 7px;
    margin-top: 85px;
    
    height: 100%;
    z-index: 1;
    position: fixed;
    width: 280px;
}

.edit_profile {
    font-size: 12px;
    margin: 0px 11px 0 0;
    position: relative;
    text-align: right;
}

.edit_profile a {
    color: #333;
}

.personal_info {
    text-align: center;
    color: #333;
}

.profile_img .img {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personal_info .name {
    font-size: 20px;
    margin-top: 11px;
    margin-bottom: 0;
    font-family: robotoBold;
}

.personal_info .job_title {
    font-size: 12px;
    font-family: robotoBold;
    color: #9c1111; 
}



.personal_info .qoute {
    color: #6e6e6e;
    font-size: 11px;
    font-style: italic;
    display: block;
}

.personal_info .info {
    padding: 0px 15px;
}

.personal_info .followers,
.personal_info .followings {
    display: inline-block;
    padding: 0px 10%;
    font-size: 14px;
    font-family: robotoLight;
    text-transform: capitalize;

}

.personal_info .followers p,
.personal_info .followings p {
    margin: 0;
}

.follow {
    margin-top: 30px;
}

.personal_info .followers {
    border-right: 2px solid #aaa;
}

.personal_info .num {
    font-family: robotoBold;
    font-size: 22px;
}

.profile_options {
    margin-top: 30px;
}

.profile_options .option {
    width: 96%;
    padding: 8px 20px;
    background: #d6b7b699;
    border: none;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}

.profile_options .option:hover
{
    background-color: #d6b7b680;
}

/* EO: the left panel styling */



/* SO: timeline */

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 25px;
    width: 100%;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.main_container {
    position: relative;
    z-index: 2;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li
{
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    list-style: none;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    /*clear: both;*/
    top: 20px;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    /*clear: both;*/
    top: 120px;
}

.content {
    padding-bottom: 20px;
}


.timeline ul li:nth-child(odd) .circle{
    content: '';
    position: absolute;
    top: 50px;
    right: -16px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    border: 8px solid #14b1ab;
}

.timeline ul li:nth-child(even) .circle {
    content: '';
    position: absolute;
    top: 50px;
    left: -16px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    border: 8px solid #14b1ab;
}

.timeline ul li h3
{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #ed7122;
    font-size: 16px;
    font-family: robotoBold;
    text-transform: capitalize;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    text-align: justify;
}

.timeline ul li:nth-child(odd) p {
    padding: 0 0 0 50px;
}

.timeline ul li:nth-child(even) p {
    padding: 0 50px 0 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: RobotoBold;
}

.timeline ul li .time {
    position: relative;
    margin: 0;
    padding: 8px 16px;
    background: #ed7122;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    text-transform: uppercase;
    width: 74%;
    text-align: center;
}


.line {
    border-bottom: 3px solid #14B1AB;
    margin: 9px -27px;
    width: 94%;
}

.timeline ul li:nth-child(odd) .line {
    float: right;
}

.timeline ul li:nth-child(even) .line {
    float: left;
}

.event_icon {
    width: 90px;
    height: 90px;
    border: 8px solid #ed7122;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    top: 20px;
}

.timeline ul li:nth-child(odd) .event_icon {
    left: 0;
}

.timeline ul li:nth-child(even) .event_icon {
    right: 0;
}

.event_icon img {
    width: 100%;
}

.event_desc {display: inline-block;}

.event_icon::after {

    border: 2px solid #5d5d5d;
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;

}

.event_details {
    font-size: 12px;
    border-right: 1px solid #a2a2a2;
    padding: 0px 10px;
}

.event_details:last-child {
    border-right: none;
}

/* studing Theme */
#studing_events .circle
{
    border: 8px solid #47a5db;
}

#studing_events .line
{
    border-bottom: 3px solid #47a5db;
}

#studing_events .timeline ul li h3 {
    color: #47a5db;
}

#studing_events .event_icon {
    border: 8px solid #47a5db;
}

#studing_events .time {
    background-color: #47a5db;
}

#studing_events .event_title {
    color: #47a5db;
}

#studing_events .event_details {
    font-size: 12px;
    color: #47a5db;
}

/* outing Theme */
#outing_events .circle
{
    border: 8px solid #cb567b;
}

#outing_events .line
{
    border-bottom: 3px solid #cb567b;
}

#outing_events .timeline ul li h3 {
    color: #cb567b;
}

#outing_events .event_icon {
    border: 8px solid #cb567b;
}

#outing_events .time {
    background-color: #cb567b;
}

#outing_events .event_title {
    color: #cb567b;
}

#outing_events .event_details {
    font-size: 12px;
    color: #cb567b;
}

/* traveling Theme */
#traveling_events .circle
{
    border: 8px solid #a754cc;
}

#traveling_events .line
{
    border-bottom: 3px solid #a754cc;
}

#traveling_events .timeline ul li h3 {
    color: #a754cc;
}

#traveling_events .event_icon {
    border: 8px solid #a754cc;
}

#traveling_events .time {
    background-color: #a754cc;
}

#traveling_events .event_title {
    color: #a754cc;
}

#traveling_events .event_details {
    font-size: 12px;
    color: #a754cc;
}

/* wedding Theme */
#wedding_events .circle
{
    border: 8px solid #9b1d1d;
}

#wedding_events .line
{
    border-bottom: 3px solid #9b1d1d;
}

#wedding_events .timeline ul li h3 {
    color: #9b1d1d;
}

#wedding_events .event_icon {
    border: 8px solid #9b1d1d;
}

#wedding_events .time {
    background-color: #9b1d1d;
}

#wedding_events .event_title {
    color: #9b1d1d;
}

#wedding_events .event_details {
    font-size: 12px;
    color: #9b1d1d;
}

/* work Theme */
#work_events .circle
{
    border: 8px solid #606060;
}

#work_events .line
{
    border-bottom: 3px solid #606060;
}

#work_events .timeline ul li h3 {
    color: #606060;
}

#work_events .event_icon {
    border: 8px solid #606060;
}

#work_events .time {
    background-color: #606060;
}

#work_events .event_title {
    color: #606060;
}

#work_events .event_details {
    font-size: 12px;
    color: #606060;
}

/* hobbies Theme */
#hobbies_events .circle
{
    border: 8px solid #318928;
}

#hobbies_events .line
{
    border-bottom: 3px solid #318928;
}

#hobbies_events .timeline ul li h3 {
    color: #318928;
}

#hobbies_events .event_icon {
    border: 8px solid #318928;
}

#hobbies_events .time {
    background-color: #318928;
}

#hobbies_events .event_title {
    color: #318928;
}

#hobbies_events .event_details {
    font-size: 12px;
    color: #318928;
}

/* engagemnt Theme */
#engagment_events .circle
{
    border: 8px solid #989c00;
}

#engagment_events .line
{
    border-bottom: 3px solid #989c00;
}

#engagment_events .timeline ul li h3 {
    color: #989c00;
}

#engagment_events .event_icon {
    border: 8px solid #989c00;
}

#engagment_events .time {
    background-color: #989c00;
}

#engagment_events .event_title {
    color: #989c00;
}

#engagment_events .event_details {
    font-size: 12px;
    color: #989c00;
}

/* EO: timeline */

/* SO: filter & add posts buttons */

.filter_dropdown,
.add_post{
    border-radius: 20px;
    border: 1px solid #868686;
    background: #fff;
    font-size: 12px;
    color: #515151;
    box-shadow: none;
    padding: 5px 80px 5px 20px;
    width: 165px;
    text-align: left;
    display: inline-block;
}

.dropdown-menu {
    border-radius: 8px;
    border: 1px solid #868686;
}

.dropdown-item {
    font-size: 12px;
    padding-left: 13px;
}

.category_filter_icon{
    width: 12px;
    position: relative;
    margin: 4px 6px;
}

/* EO: filter & add posts buttons */

